langchain
langchain-openai
langchain-community
langchain-core
langchain-text-splitters

chromadb

faiss-cpu

openai

pypdf

python-dotenv

tiktoken

pydantic

typing-extensions

sentence-transformers

langchain-huggingface